@import "../../Assets/styles/settings";

.home-wrapper {
    .marquee-content {
        width: 100%;

    }

    .content2 {
        background: url("../../Assets/imgs/background2.png")no-repeat;
        background-size: cover;
        margin-top: 200px ;
        width: 1071px;
        height: 749px;
        padding-top: 200px;

        .text-in-content {
            padding: 90px 85px;
            width: 542px;
            height: 476px;
            margin-left: 800px;
            border-radius: 10px;
            background: #9b9393;

            p {
                h1 {
                    color: $sky;
                    margin-bottom: 20px;
                    font-size: 30spx;
                }

                span {
                    font-size: 20px;
                }
            }
        }
    }
}