@import '../../assets/styles/settings';

.contacts-form-wrapper {
    background-image: url('../../assets/images/emailImg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 668px;
    position: relative;
    top: 1100px;

    .footer-about {
        position: relative;
        top: 650px;

    }


    form {
        background-color: rbga(255, 0, 0, 0.5);
        backdrop-filter: blur(80px);
        opacity: 0.9;
        height: 668px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10%;
        width: 500px;
        padding: 137px 43px 137px 43px;

        button {
            @extend %info-btn;
            margin-top: 50px;

        }

        h3 {
            font-weight: bold;
            font-size: 30px;
            color: snow;
            margin-bottom: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }

        span {
            color: yellow;
        }


        .div {
            display: flex;
            flex-direction: column;
        }

        input {
            background-color: transparent;
            border: none;
            outline: none;
            color: snow;
            padding: 20px;
            font-size: 20px;
            width: 100%;
            border-bottom: solid 1px snow;

            &::placeholder {
                color: snow;
                font-weight: bold;
                font-size: 15px;
            }

            hr {
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: $large-screen) {}

@media (max-width: $small-screen) {

    
    form {
        padding: 55px;
        img {
            height: 250px;
        }

        button {
            text-align: center;
            align-items: center;
        }
    }
}